name: Deploy EC2 Instance

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  Terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4      
      
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.tfc_team_token }}
      
    - name: Terraform Init
      run: terraform init
      
    - name: Terraform Validate
      run: terraform validate 
       
    - name: Terraform Plan
      run: terraform plan
         
    - name: Terraform Apply
      run: terraform apply -auto-approve

    # # - name: Terraform Destroy
    #   if: ${{ github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch' }}
    #   run: terraform destroy -auto-approve
